<div class="container" *ngIf="tableau && !isPari">
  <button
    *ngIf="tableau.is_launched !== getTableauState().TermineState"
    (click)="generateBracket()"
    mat-raised-button
    class="center btnGenerateBracket"
    color="primary"
  >
    <mat-icon *ngIf="spinnerShown">
      <mat-spinner color="warn" [diameter]="20"></mat-spinner>
    </mat-icon>
    Générer le tableau
  </button>

  <mat-card
    *ngIf="
      tableau.consolante &&
      tableau.is_launched === getTableauState().BracketState
    "
  >
    <mat-icon class="center">info</mat-icon>
    <p><b>Pour les consolantes :</b></p>
    <ul>
      <li>
        - si vous souhaitez un repêchage des perdants du premier tour des phases
        finales en consolantes, renseignez
        <b>tous les résultats du premier tour de la phase finale</b>, puis
        générez le tableau de la consolante;
      </li>
      <li>
        - si vous ne souhaitez pas de repêchage, générez le tableau de la
        consolante <b>AVANT</b> le tableau des phases finales.
      </li>
    </ul>
  </mat-card>
</div>

<ng-container *ngIf="bracket">
  <ngtt-single-elimination-tree
    *ngIf="bracket.rounds.length"
    [tournament]="bracket"
    [matchTemplate]="matchTemplate"
  ></ngtt-single-elimination-tree>
</ng-container>

<ng-template #matchTemplate let-match>
  <app-match
    (updateBracket)="getBracket()"
    [tableau]="tableau"
    [isPari]="isPari"
    [pariJoueur]="pariJoueur"
    [phase]="phase"
    [match]="match"
  ></app-match>
</ng-template>
