.btnGenerateBracket {
  margin-top: 16px;
}

::ng-deep .mat-tab-group-dynamic-height .mat-tab-body-content {
  overflow-x: auto !important;
}

:host ::ng-deep .ngtt-se__finale-match-wrapper::before {
  border-top: 2px solid #add4ff;
}

:host ::ng-deep .ngtt-se__match-wrapper {
  &:nth-child(odd)::after,
  &:nth-child(even)::after {
    border-right: 2px solid #add4ff;
  }

  &:nth-child(odd)::after,
  &::before {
    border-top: 2px solid #add4ff;
  }

  &:nth-child(even)::after {
    border-bottom: 2px solid #add4ff;
  }
}

span.aide {
  color: white;
  font-style: italic;
  margin-top: 16px;
  font-size: 11px;
  margin-bottom: 10px;
}

mat-card {
  background-color: #dbf1ff;

  &.cardPointsParis {
    width: fit-content;
    padding-top: 10px;
    padding-bottom: 10px;

    p {
      margin-bottom: 6px;
    }

    mat-icon {
      margin-bottom: 4px;
    }
  }
}
