<div class="container">

  <p>
    <mat-form-field appearance="outline" class="center">
      <mat-icon matSuffix>title</mat-icon>
      <mat-label>Titre du cours (facultatif)</mat-label>
      <input [(ngModel)]="joueur.nom" name="joueur_nom" matInput>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field style="width: 100%; !important" appearance="outline">
      <mat-label>Type</mat-label>
      <mat-select [(ngModel)]="joueur.type" required>
        <mat-option *ngFor="let type of types" [value]="joueur.type">{{type}}</mat-option>
      </mat-select>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="outline" class="center">
      <mat-icon matSuffix>update</mat-icon>
      <mat-label>Récurrence (facultatif)</mat-label>
      <input name="recurrence" type="number" [(ngModel)]="joueur.classement" min="0" max="2000" matInput>
    </mat-form-field>
  </p>

</div>
