<div class="container">

  <p>
    <mat-form-field appearance="outline" class="center">
      <mat-icon matSuffix>title</mat-icon>
      <mat-label>Nom du joueur</mat-label>
      <input [(ngModel)]="joueur.nom" name="joueur_nom" matInput required>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field style="width: 100%; !important" appearance="outline">
      <mat-label>Type</mat-label>
      <mat-select [(ngModel)]="joueur.type" required>
        <mat-option *ngFor="let type of types" [value]="type">{{type}}</mat-option>
      </mat-select>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="outline" class="center">
      <mat-icon matSuffix>bar_chart</mat-icon>
      <mat-label>Classement</mat-label>
      <input name="recurrence" type="number" [(ngModel)]="joueur.classement" min="0" max="2000" matInput>
    </mat-form-field>
  </p>

</div>
