mat-form-field {
  width: 100%;
}

mat-card {
  margin: 20px !important;
}

.special_margin {
  margin-bottom: 10px;
  margin-top: 16px;
}

.enabledButtons {
  background-color: green;
  color: white;
}

.disabledButtons {
  background-color: red;
  color: white;
}

.saveBtn {
  margin-top: 20px;
}
