<h1 class="lobster center">
  <span
    >{{ tableau.nom | titlecase }}
    <span *ngIf="tableau.age_minimum !== null">
      - {{ tableau.age_minimum }} ans</span
    >
    <span *ngIf="tableau.type_licence !== null && tableau.type_licence !== 1">
      - {{ showTypeLicence(tableau.type_licence) }}</span
    >
  </span>
</h1>

<div id="actionButtons">
  <button
    mat-raised-button
    *ngIf="
      tableau.poules &&
      tableau.is_launched === appService.getTableauState().PointageState
    "
    (click)="changeStateTableau(appService.getTableauState().PouleState)"
  >
    Lancer les poules
  </button>
  <button
    mat-raised-button
    *ngIf="
      tableau.is_launched === appService.getTableauState().PouleState ||
      (!tableau.poules &&
        tableau.is_launched === appService.getTableauState().PointageState)
    "
    (click)="changeStateTableau(appService.getTableauState().BracketState)"
  >
    Lancer les phases finales
  </button>
  <button
    mat-raised-button
    *ngIf="tableau.is_launched === appService.getTableauState().BracketState"
    (click)="changeStateTableau(appService.getTableauState().TermineState)"
  >
    Clôturer le tableau
  </button>
</div>

<mat-tab-group
  mat-align-tabs="center"
  color="accent"
  dynamicHeight="200%"
  selectedIndex="0"
  *ngIf="tableau._id"
>
  <mat-tab>
    <ng-template mat-tab-label class="mat-tab-label">Participants</ng-template>
    <app-list-players
      (generatePoules)="generatePoules()"
      (getAllBinomes)="getAllBinomes()"
      (getSubscribedUnassignedPlayers)="getSubscribedUnassignedPlayers()"
    >
    </app-list-players>
  </mat-tab>

  <mat-tab *ngIf="tableau.format === 'double'">
    <ng-template mat-tab-label class="mat-tab-label">Binômes</ng-template>
    <app-binome
      (getSubscribedUnassignedPlayers)="getSubscribedUnassignedPlayers()"
      (getAllBinomes)="getAllBinomes()"
      (generatePoules)="generatePoules()"
      [binomes]="binomes"
      [subscribedUnassignedPlayers]="subscribedUnassignedPlayers"
    >
    </app-binome>
  </mat-tab>

  <mat-tab
    *ngIf="
      tableau.poules &&
      tableau.is_launched >= appService.getTableauState().PouleState
    "
  >
    <ng-template mat-tab-label class="mat-tab-label">Poules</ng-template>
    <app-poule (getAllPoules)="getAllPoules()" [poules]="poules"></app-poule>
  </mat-tab>

  <mat-tab
    *ngIf="tableau.is_launched >= appService.getTableauState().BracketState"
  >
    <ng-template mat-tab-label class="mat-tab-label">
      Phases finales
    </ng-template>

    <app-bracket [phase]="'finale'" [tableau]="tableau"></app-bracket>
  </mat-tab>

  <mat-tab
    *ngIf="
      tableau.consolante &&
      tableau.is_launched >= appService.getTableauState().BracketState
    "
  >
    <ng-template mat-tab-label class="mat-tab-label"> Consolante </ng-template>

    <app-bracket [phase]="'consolante'" [tableau]="tableau"></app-bracket>
  </mat-tab>
</mat-tab-group>
