h1 {
  color: white;
  padding-top: 30px;
  padding-bottom: 10px;
  margin-bottom: 8px;
}

::ng-deep .mat-tab-label,
.mat-tab-link {
  color: white !important;
}

::ng-deep .mat-tab-body-content {
  min-height: 400px !important;
}

#actionButtons {
  display: flex;
  justify-content: center;

  & button {
    color: white;
    margin: 0 5px;

    &#launchTableau {
      background-color: rgb(0, 157, 0);
    }

    &#finishTableau {
      background-color: #495dce;
    }
  }
}
