@import '~ng-tournament-tree/styles/ngtt-styles';

.ngtt__match-wrapper {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: $ngtt-match-wrapper-height;
  background-color: lighten($ngtt-background-primary, 15%);
  border-radius: 6px;
}

.ngtt__team-wrapper {
  display: flex;
  width: 95%;
  height: 26px !important;
  flex-direction: row;
  padding: 12px 6px;
  align-items: center;
}

.ngtt__team-title {
  background-color: white;
  margin-left: 12px;
  color: black;
  display: inline-block;
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.mat-winner {
  background-color: #0d980d;
  color: white;
}

.mat-looser {
  background-color: red;
  color: white;
}

.mat-undefined {
  background-color: white;
  color: black;
}

.clickable {
  cursor: pointer;
}
