@import '~ng-tournament-tree/styles/ngtt-styles';

.ngtt__match-wrapper {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: $ngtt-match-wrapper-height;
  background-color: lighten($ngtt-background-primary, 15%);
  border-radius: 6px;
}

.ngtt__team-wrapper {
  display: flex;
  width: 95%;
  height: 26px !important;
  flex-direction: row;
  padding: 12px 6px;
  align-items: center;
}

.ngtt__team-avatar {
  margin-left: 12px;
  height: 24px;
  width: 24px;
  background-color: white;
  border-radius: 25px;
  display: inline-block;
  flex-shrink: 1;
}

.ngtt__team-title {
  margin-left: 12px;
  color: white;
  display: inline-block;
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ngtt__team-score {
  padding: 0 10px 0 10px;
  flex-shrink: 1;
  background-color: white;
  border-radius: 25px;
}

.determinate_winner {
  cursor: pointer;
}
