.mat-card {
  margin: 3%;
}

.listBinomes {
  width: 100%;
}

.listPlayers {
  width: 91%;
}

.labelJoueursInscrits {
  margin-bottom: 0;
}

.list {
  width: 500px;
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  display: block;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.box:last-child {
  border: none;
}

.list.cdk-drop-list-dragging .box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.box.cdk-drag-disabled {
  background: white;
  border-color: white;
  cursor: default;
}

.custom-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.locked {
  background-color: #238c23;

  h2 {
    color: white;
  }
}

p.error_message {
  background-color: #ff5e21;
  color: white;
  border-radius: 10px;
  margin-bottom: 0;
  margin-top: 10px;
    width: auto;
}

#listPlayers {
  left: 33.5%;
  overflow-y: scroll;
  width: 80% !important;
  z-index: 1;
}

.absolutePos {
  position: absolute;
  top: 19px;
  height: 470px;
}

.stickyPos{
  position: fixed;
  top: 9%;
  height: 90%;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

::ng-deep .mat-tab-body-wrapper {
  min-height: 495px;
}
