td {
  text-align: center;
}

button.refreshClassement {
  background-color: rgb(22, 153, 22);
  color: white;
  margin-top: 10px;
}

p.joueursLesPlusParies {
  margin: 30px 10px 10px 10px;
}

p.noParis {
  margin: 10px;
}
