<div class="container">

  <mat-card>
    <h2 class="lobster center">Inscrire un joueur</h2>

    <form (submit)="create()">
      <app-form-joueur [otherPlayers]="null" [editMode]="true" [joueur]="joueur"></app-form-joueur>
      <button mat-raised-button class="center" color="primary" [disabled]="!isInvalidPlayer()">Créer</button>
    </form>
  </mat-card>

  <mat-card>
    <h2 class="lobster center">Liste des joueurs</h2>

    <table mat-table *ngIf="allJoueurs" [dataSource]="allJoueurs">

      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef>Nom</th>
        <td mat-cell *matCellDef="let joueur">{{joueur.nom}}</td>
      </ng-container>

      <ng-container matColumnDef="classement">
        <th mat-header-cell *matHeaderCellDef>Classement</th>
        <td mat-cell *matCellDef="let joueur">{{joueur.classement}}</td>
      </ng-container>

      <ng-container matColumnDef="tableaux">
        <th mat-header-cell *matHeaderCellDef>Tableaux</th>
        <td mat-cell *matCellDef="let joueur">{{showTableauxPlayer(joueur.tableaux) | titlecase}}</td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let joueur">
          <button (click)="edit(joueur)" class="center" mat-raised-button color="primary">Modifier</button>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let joueur">
          <!--button (click)="delete(joueur._id)" class="center" mat-raised-button color="warn">Supprimer</button-->
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </mat-card>
</div>
