td.position {
  text-align: center;
  vertical-align: middle;
}

button {
  margin-bottom: 20px;
}

td.mat-cell {
  border-bottom-color: rgba(0, 0, 0, 1.12);
  border-top-color: rgba(0, 0, 0, 1.12);
}
