<form [formGroup]="reactiveForm" (ngSubmit)="login()">
  <div fxLayout="row" fxLayout.lt-md="column">
    <div fxFlex="50%" fxFlex.lt-md="100%">
      <mat-form-field appearance="outline" class="center">
        <mat-label>Pseudo</mat-label>
        <input formControlName="username" name="username" type="text" matInput required>
        <mat-error *ngIf="!reactiveForm.get('username').value">
          Pseudo <strong>obligatoire</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div fxFlex="50%" fxFlex.lt-md="100%">
      <mat-form-field appearance="outline" class="center">
        <mat-icon (click)="togglePasswordVisibility()" matSuffix>{{ passwordVisibility ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-label>Mot de passe</mat-label>
        <input formControlName="password" name="password" [type]="inputPasswordType" matInput required>
        <mat-error *ngIf="!reactiveForm.get('password').value">
          Mot de passe <strong>obligatoire</strong>
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <button [disabled]="!this.reactiveForm.valid" class="center" type="submit" mat-raised-button color="primary">
    <mat-icon *ngIf="spinnerShown">
      <mat-spinner color="accent" [diameter]="20"></mat-spinner>
    </mat-icon>
    C'est parti !
  </button>
</form>
