<div class="container">

  <mat-card *ngIf="!poules.length">
    <h2 class="center lobster">Il n'y a pas de joueurs inscrits pour le moment</h2>
  </mat-card>

  <div fxLayout="row wrap">
    <div [fxFlex]="tableau.nbPoules > 2 ? '33%' : '50%'" *ngFor="let poule of poules; let indexList = index">
      <mat-card class="mat-elevation-z8">
        <h2 class="lobster center">
          <mat-icon *ngIf="poule.locked" class="locked">check_circle</mat-icon>
          Poule n°{{indexList+1}}
        </h2>

        <div
          cdkDropList
          [cdkDropListData]="poules[indexList].participants"
          class="list"
          (cdkDropListDropped)="editPoule($event, poule._id)">
          <div [cdkDragData]="[poule._id, participant._id]" [cdkDragDisabled]="poule.locked" class="box center" [ngClass]="{ 'tight': (poules[indexList].objectRef === 'Binomes') }" *ngFor="let participant of poules[indexList].participants" cdkDrag>
            <span [outerHTML]="showParticipant(poules[indexList].objectRef, participant)"></span>
          </div>
        </div>
        <button [disabled]="tableau.is_launched === 2" (click)="setStatus(poule)" mat-raised-button class="center btnSetLockedPoule" color="primary">{{(poule.locked ? 'Modifier' : 'Valider')}}</button>

      </mat-card>
    </div>
  </div>
</div>
