<div class="container">

  <mat-card>

    <h3>Nombre de participants de moins de 13 ans : {{buffet.nb_moins_13_ans}}</h3>
    <h3>Nombre de participants deplus de 13 ans : {{buffet.nb_plus_13_ans}}</h3>

    <h3>Liste des plats confectionnés :</h3>
    <mat-chip-list *ngIf="!platsCookedEmpty(); else noPlatsAlreadyCooked">
      <mat-chip *ngFor="let plat of buffet.plats" color="primary" selected>{{ plat }}</mat-chip>
    </mat-chip-list>
    <ng-template #noPlatsAlreadyCooked><p>(Aucun)</p></ng-template>
  </mat-card>

  <mat-card>

    <form (submit)="edit()">
      <div fxLayout="row">
        <div fxFlex="33%" class="center">
          <h2 class="lobster">Titre du formulaire</h2>
          <mat-form-field appearance="outline">
            <input matInput [(ngModel)]="parametres.titre" name="titre">
          </mat-form-field>
        </div>

        <div fxFlex="33%" class="center">
          <h2 class="lobster">Date du tournoi</h2>
          <mat-form-field appearance="outline">
            <input matInput [matDatepicker]="dp" [(ngModel)]="parametres.date" name="date_tournoi">
            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker #dp></mat-datepicker>
          </mat-form-field>
        </div>
      </div>

      <h2 class="lobster">Texte de présentation</h2>
      <mat-form-field>
        <textarea cdkTextareaAutosize #autosize="cdkTextareaAutosize" matInput [(ngModel)]="parametres.texte_debut" name="texte_debut"></textarea>
      </mat-form-field>

      <h2 class="lobster">Texte du buffet</h2>
      <mat-form-field>
        <textarea cdkTextareaAutosize #autosize="cdkTextareaAutosize" matInput [(ngModel)]="parametres.texte_buffet" name="texte_buffet"></textarea>
      </mat-form-field>

      <h2 class="lobster">Texte de fin</h2>
      <mat-form-field>
        <textarea cdkTextareaAutosize #autosize="cdkTextareaAutosize" matInput [(ngModel)]="parametres.texte_fin" name="texte_fin"></textarea>
      </mat-form-field>

      <button mat-raised-button class="center" color="primary">Sauvegarder</button>
    </form>

  </mat-card>
</div>
