@import "../../../../node_modules/ng-tournament-tree/styles/ngtt-styles";

.ngtt__match-wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 310px;
  height: $ngtt-match-wrapper-height;
  background-color: lighten($ngtt-background-primary, 15%);
  border-radius: 6px;
}

.ngtt__team-wrapper {
  display: flex;
  width: 95%;
  height: 26px !important;
  flex-direction: row;
  padding: 12px 6px;
  align-items: center;
}

.ngtt__team-title {
  background-color: white;
  margin-left: 12px;
  color: black;
  display: inline-block;
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

mat-chip {
  background-color: white;
  color: black;
}

mat-chip.winner {
  background-color: #0d980d;
  color: white;
}

mat-chip.looser {
  background-color: red;
  color: white;
}

.pari-winner:not(.winner):not(.looser) {
  color: #0d980d;
}

.pari-looser:not(.winner):not(.looser) {
  color: red;
}

.clickable {
  cursor: pointer;
}

#finale {
  display: flex;
  align-items: center;
  margin-left: 2%;
}

#yellow {
  color: yellow;
}

#silver {
  color: #d9d9d9;
}

#bronze {
  color: #ff7918;
}

#white {
  color: white;
}

span.handicap {
  color: white;
  position: absolute;
  right: -19px;
}

.cancel-btn {
  position: absolute;
  right: -18px;
  top: -21px;
  z-index: 1;
}

.icon-resultat-pari {
  position: absolute;
  right: 298px;
  top: -14px;
  z-index: 1;
  background-color: white;
  padding: 2px;
  border-radius: 4px;
}
