h2.second_h2 {
  margin-bottom: 8px;
}

td {
  &.pointage_KO {
    color: grey
  }

  &.pointage_OK {
    color: green
  }
}

button.unsubscribeAll {
  margin-bottom: 18px;
}

button.movePlayers {
  background-color: #1eab1e;
  color: white;
  margin-bottom: 5px;
}

div.vertically_centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
