h2.second_h2 {
  margin-bottom: 8px;
}

td {
  &.pointage_KO {
    color: grey;
  }

  &.pointage_OK {
    color: green;
    font-weight: 500;
  }
}

button.unsubscribeAll {
  margin-bottom: 18px;
}

td.chapeauHaut {
  &:nth-child(1) {
    border-radius: 5px 0px 0px 5px;
    background-color: #ffc1c1;
  }
  &:nth-child(2) {
    border-radius: 0px 5px 5px 0px;
    background-color: #ffc1c1;
  }
}

td.chapeauBas {
  &:nth-child(1) {
    border-radius: 5px 0px 0px 5px;
    background-color: #c1daff;
  }
  &:nth-child(2) {
    border-radius: 0px 5px 5px 0px;
    background-color: #c1daff;
  }
}

button.movePlayers {
  background-color: #1eab1e;
  color: white;
  margin-bottom: 5px;
}

div.vertically_centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
