<div class="container">

  <mat-card *ngIf="!binomes.length && !subscribedUnassignedPlayers.length">
    <h2 class="center lobster">Il n'y a pas de joueurs inscrits ... pour le moment ;)</h2>
  </mat-card>

  <div fxLayout="column" cdkDropListGroup *ngIf="binomes.length || subscribedUnassignedPlayers.length">
    <div fxLayout="row nowrap" fxFlexFill fxLayoutAlign="space-between stretch">

      <div fxFlex="33%" fxLayoutAlign="center stretch">
        <div style="width: 100%;">
          <div *ngFor="let binome of binomes; let indexList = index; let isEven = even;">
            <mat-card [class]="'mat-elevation-z8 ' + (binome.locked ? 'locked' : '')" *ngIf="isEven">
              <h3 class="lobster center">Binôme n°{{indexList+1}}</h3>

              <div cdkDropList [cdkDropListData]="binomes[indexList].joueurs" cdkDropListSortingDisabled class="list" (cdkDropListDropped)="editBinome($event, binome._id)">
                <div [cdkDragData]="[joueur._id, binome._id]" [cdkDragDisabled]="binome.locked" class="box center" *ngFor="let joueur of binomes[indexList].joueurs" cdkDrag (dblclick)="unsubscribeDblClick(binome._id, joueur._id)">
                  <div class="custom-placeholder" *cdkDragPlaceholder></div>
                  {{joueur.nom}} - {{joueur.classement}} points
                </div>
              </div>

              <p *ngIf="binome.joueurs.length === 1" class="center error_message">Binôme inqualifiable car incomplet</p>
            </mat-card>
          </div>
        </div>
      </div>

      <div fxFlex="33%" fxLayoutAlign="center stretch" class="listPlayers">
        <div style="width: 91%;">
          <mat-card>
            <h1 style="margin-bottom: 0;" class="lobster center">Joueurs inscrits</h1>
            <h2 class="lobster center">({{ nbPlayers() }} assigné<span *ngIf="nbPlayers() > 1">s</span>) - ({{ subscribedUnassignedPlayers.length }} disponible<span *ngIf="subscribedUnassignedPlayers.length > 1">s</span>)</h2>

            <div cdkDropList cdkDropListSortingDisabled [cdkDropListData]="subscribedUnassignedPlayers" class="list" (cdkDropListDropped)="editBinome($event, null)">
              <div class="box center" [cdkDragData]="[joueur._id, null]" *ngFor="let joueur of subscribedUnassignedPlayers" cdkDrag>
                <div class="custom-placeholder" *cdkDragPlaceholder></div>
                {{joueur.nom}} - {{joueur.classement}} points
              </div>
            </div>
          </mat-card>
        </div>
      </div>

      <div fxFlex="33%" fxLayoutAlign="center stretch">
        <div style="width: 100%;">
          <div *ngFor="let binome of binomes; let indexList = index; let isOdd = odd;">
            <mat-card [class]="'mat-elevation-z8 ' + (binome.locked ? 'locked' : '')" *ngIf="isOdd">
              <h3 class="lobster center">Binôme n°{{indexList+1}}</h3>

              <div cdkDropList [cdkDropListData]="binomes[indexList].joueurs" cdkDropListSortingDisabled class="list" (cdkDropListDropped)="editBinome($event, binome._id)">
                <div [cdkDragData]="[joueur._id, binome._id]" [cdkDragDisabled]="binome.locked" class="box center" *ngFor="let joueur of binomes[indexList].joueurs" cdkDrag (dblclick)="unsubscribeDblClick(binome._id, joueur._id)">
                  <div class="custom-placeholder" *cdkDragPlaceholder></div>
                  {{joueur.nom}} - {{joueur.classement}} points
                </div>
              </div>

              <p *ngIf="binome.joueurs.length === 1" class="center error_message">Binôme inqualifiable car incomplet</p>
            </mat-card>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
