mat-form-field {
  width: 95%;
}

.error_message {
  background-color: red;
  color: white;
  border-radius: 5px;
  margin-bottom: 8px;
  margin-top: 8px;
  height: 32px;
  line-height: 32px;
}

mat-slide-toggle {
  margin-top: 18px;
  margin-left: 5px;
}

.row {
  padding: 5px;
  &.colored {
    background-color: #e2eeff;
    border-radius: 5px;
  }
}

.containerLabelTableau {
  position: relative;
}

h2.labelTableau {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.enabledButtons {
  color: green !important;

  &.enCours {
    color: black !important;
  }
}

.disabledButtons {
  color: #ff0000 !important;

  &.enCours {
    color: black !important;
  }
}

.enabledButtons,
.disabledButtons {
  margin: 6px auto;
}

.shakeit {
  animation: shake 0.82s infinite cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(1px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-1px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(1px, 0, 0);
  }
}
