<h1 class="lobster center">Tableau Open</h1>

<div class="center">
  <button mat-raised-button color="accent" (click)="render = 'list_players'" class="center_buttons">Joueurs inscrits</button>
  <button mat-raised-button color="primary" (click)="render = 'poules'" class="center_buttons">Poules</button>
  <button mat-raised-button color="primary" (click)="render = 'winner'" class="center_buttons">Tableau final</button>
  <button mat-raised-button color="primary" (click)="render = 'looser'">Tableau consolante</button>
</div>

<ng-container *ngIf="render === 'winner'">
  <div class="center">
    <button (click)="generateBracket()" mat-raised-button class="center btnGenerateBracket" color="primary">Générer le bracket</button>
    <button (click)="resetBracket()" mat-raised-button class="center btnGenerateBracket" color="warn">Remettre le bracket à zéro</button>
  </div>

  <ngtt-single-elimination-tree [tournament]="singleEliminationTournament" [matchTemplate]="matchTemplate"></ngtt-single-elimination-tree>
</ng-container>

<ng-container *ngIf="render === 'looser'">
  <div class="center">
    <button (click)="generateBracket()" mat-raised-button class="center btnGenerateBracket" color="primary">Générer le bracket</button>
    <button (click)="resetBracket()" mat-raised-button class="center btnGenerateBracket" color="warn">Remettre le bracket à zéro</button>
  </div>

  <ngtt-single-elimination-tree [tournament]="singleEliminationTournament" [matchTemplate]="matchTemplate"></ngtt-single-elimination-tree>
</ng-container>

<ng-container *ngIf="render === 'list_players'">
  <app-list-players></app-list-players>
</ng-container>

<ng-container *ngIf="render === 'poules'">
  <app-poule></app-poule>
</ng-container>

<ng-template #matchTemplate let-match>
  <app-match (updateBracket)="updateBracket()" [match]="match"></app-match>
</ng-template>
