<mat-tab-group mat-align-tabs="center" color="accent" [dynamicHeight]="true" selectedIndex="0">

  <mat-tab>
    <ng-template mat-tab-label class="mat-tab-label">
      Inscriptions
    </ng-template>

    <app-list-players></app-list-players>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label class="mat-tab-label">
      Poules
    </ng-template>

    <app-poule></app-poule></mat-tab>

  <mat-tab>
    <ng-template mat-tab-label class="mat-tab-label">
      Winner bracket
    </ng-template>

    <div class="center">
      <button (click)="generateBracket()" mat-raised-button class="center btnGenerateBracket" color="primary">
        <mat-icon *ngIf="spinnerShown">
          <mat-spinner color="warn" [diameter]="20"></mat-spinner>
        </mat-icon>
        Générer le bracket
      </button>
    </div>

    <div *ngIf="winnerbracket">
      <ngtt-single-elimination-tree *ngIf="winnerbracket.rounds.length" [tournament]="winnerbracket" [matchTemplate]="matchTemplate"></ngtt-single-elimination-tree>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label class="mat-tab-label">
      Looser bracket
    </ng-template>

    <div class="center">
      <button (click)="generateBracket()" mat-raised-button class="center btnGenerateBracket" color="primary">Générer le bracket</button>
    </div>

    <div *ngIf="looserBracket">
      <ngtt-single-elimination-tree *ngIf="looserBracket.rounds.length" [tournament]="looserBracket" [matchTemplate]="matchTemplate"></ngtt-single-elimination-tree>
    </div>
  </mat-tab>
</mat-tab-group>

<ng-template #matchTemplate let-match>
  <app-match (updateBracket)="updateBracket()" [match]="match"></app-match>
</ng-template>
