<mat-tab-group mat-align-tabs="center" color="accent" dynamicHeight="200%" selectedIndex="0" *ngIf="tableau._id">

  <mat-tab>
    <ng-template mat-tab-label class="mat-tab-label">
      Inscriptions
    </ng-template>

    <app-list-players (updateUnassignedPlayers)="poule.getSubscribedUnassignedPlayers()" (getBinomes)="poule.getAllPoulesBinomes()" (updatePoules)="poule.generatePoulesBinomes()" [tableau]="tableau"></app-list-players>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label class="mat-tab-label">
      <span *ngIf="tableau.format === 'simple'">Poules</span>
      <span *ngIf="tableau.format === 'double'">Binômes</span>
    </ng-template>

    <app-poule #poule></app-poule>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label class="mat-tab-label">
      Phases finales
    </ng-template>

    <div class="center">
      <button (click)="generateBracket()" mat-raised-button class="center btnGenerateBracket" color="primary">
        <mat-icon *ngIf="spinnerShown">
          <mat-spinner color="warn" [diameter]="20"></mat-spinner>
        </mat-icon>
        Générer le tableau
      </button>
    </div>

    <ng-container *ngIf="winnerbracket">
      <ngtt-single-elimination-tree *ngIf="winnerbracket.rounds.length" [tournament]="winnerbracket" [matchTemplate]="matchTemplate"></ngtt-single-elimination-tree>
    </ng-container>
  </mat-tab>

  <mat-tab *ngIf="tableau.consolante">
    <ng-template mat-tab-label class="mat-tab-label">
      Consolante
    </ng-template>

    <div class="center">
      <button (click)="generateBracket()" mat-raised-button class="center btnGenerateBracket" color="primary">Générer la consolante</button>
    </div>

    <ng-container *ngIf="looserBracket">
      <ngtt-single-elimination-tree *ngIf="looserBracket.rounds.length" [tournament]="looserBracket" [matchTemplate]="matchTemplate"></ngtt-single-elimination-tree>
    </ng-container>
  </mat-tab>
</mat-tab-group>

<ng-template #matchTemplate let-match>
  <app-match (updateBracket)="updateBracket()" [tableau]="tableau" [match]="match"></app-match>
</ng-template>
