<div class="container">

  <mat-card>
    <h2 class="lobster center">Inscrire un joueur</h2>

    <form (submit)="subscribe()">
      <app-form-joueur [createMode]="false" [ageMinimumRequis]="tableau.age_minimum" [otherPlayers]="otherPlayers" [joueur]="joueur"></app-form-joueur>
      <button mat-raised-button class="center" color="primary" [disabled]="!isInvalidPlayer()">Inscrire</button>
    </form>
  </mat-card>

  <mat-card>
    <h2 class="lobster center second_h2">Liste des joueurs ({{listJoueurs.length}} inscrit<span *ngIf="listJoueurs.length > 1">s</span>)</h2>

    <div fxLayout="row">
      <div [fxFlex]="listTableauHostable.length && listJoueurs.length ? '50%' : '100%'" class="vertically_centered">
        <button (click)="unsubscribeAll()" *ngIf="listJoueurs.length" class="center unsubscribeAll" mat-raised-button color="warn">Désinscrire tous les joueurs</button>
      </div>
      <div fxFlex="50%" *ngIf="listTableauHostable.length && listJoueurs.length" class="vertically_centered">
        <div fxLayout="column">
          <div fxFlex="50%">
            <button (click)="moveAllPlayers()" class="center movePlayers" mat-raised-button>Basculer tous les joueurs</button>
          </div>
          <div fxFlex="50%">
            <mat-form-field appearance="outline" class="center">
              <mat-icon matSuffix>format_list_bulleted</mat-icon>
              <mat-label>Tableaux</mat-label>
              <mat-select [(ngModel)]="tableau.age_minimum">
                <mat-option *ngFor="let tableau of listTableauHostable" [value]="tableau._id">{{ tableau.nom | titlecase }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>

    <table mat-table [dataSource]="listJoueurs">

      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef>Nom</th>
        <td mat-cell *matCellDef="let joueur">{{joueur.nom}}</td>
      </ng-container>

      <ng-container matColumnDef="classement">
        <th mat-header-cell *matHeaderCellDef>Classement</th>
        <td mat-cell *matCellDef="let joueur">{{joueur.classement}}</td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let joueur">
          <button (click)="unsubscribe(joueur)" class="center" mat-raised-button color="warn">Désinscrire</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </mat-card>
</div>
