table {
  width: 100%;
}

td {
  padding: 5px !important;
}

mat-card {
  margin: 20px !important;
}

h2.second_h2 {
  margin-bottom: 8px;
}

button.unsubscribeAll {
  margin-bottom: 18px;
}

button.movePlayers {
  background-color: #1eab1e;
  color: white;
  margin-bottom: 5px;
}

div.vertically_centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
