<div class="ngtt__match-wrapper">
  <ng-container *ngFor="let joueur of match.joueurs">
    <div fxLayout="row">
      <div style="display: flex; align-items: center; margin-left: 2%" *ngIf="match.joueurs.length === 2 && !(!match.joueurs[0].winner && !match.joueurs[1].winner) && match.round === 1">
        <mat-icon *ngIf="match.id === 1 && joueur.winner" matSuffix style="color: yellow">emoji_events</mat-icon>
        <mat-icon *ngIf="match.id === 1 && !joueur.winner" matSuffix style="color: white">looks_two</mat-icon>
        <mat-icon *ngIf="match.id === 2 && joueur.winner" matSuffix style="color: #ff7918">looks_3</mat-icon>
        <mat-icon *ngIf="match.id === 2 && !joueur.winner" matSuffix style="color: #d9d9d9">looks_4</mat-icon>
      </div>

      <div class="ngtt__team-wrapper">
        <mat-chip-list *ngIf="joueur._id">
          <mat-chip [disabled]="match.joueurs.length === 1" (click)="setWinner(match, joueur._id._id)" [color]="getColor(match, joueur)" [class]="'ngtt__team-title ' + isClickable(match)">{{getName(joueur._id)}}</mat-chip>
        </mat-chip-list>
      </div>
    </div>
  </ng-container>
</div>
