<div class="ngtt__match-wrapper">
  <ng-container *ngFor="let joueur of match.joueurs">
    <div fxLayout="row">
      <div id="finale" *ngIf="match.joueurs.length === 2 && !(!match.joueurs[0].winner && !match.joueurs[1].winner) && match.round === 1">
        <mat-icon id="yellow" *ngIf="match.id === 1 && joueur.winner" matSuffix>emoji_events</mat-icon>
        <mat-icon id="white" *ngIf="match.id === 1 && !joueur.winner" matSuffix>looks_two</mat-icon>
        <mat-icon id="bronze" *ngIf="match.id === 2 && joueur.winner" matSuffix>looks_3</mat-icon>
        <mat-icon id="silver" *ngIf="match.id === 2 && !joueur.winner" matSuffix>looks_4</mat-icon>
      </div>

      <div class="ngtt__team-wrapper">
        <mat-chip-list *ngIf="joueur._id">
          <mat-chip [disabled]="match.joueurs.length === 1 || tableau.is_launched === 2" (click)="setWinner(match, joueur._id._id)" [color]="getColor(match, joueur)" [class]="'ngtt__team-title ' + isClickable(match)">{{getName(joueur._id)}}</mat-chip>
        </mat-chip-list>
      </div>
    </div>
  </ng-container>
</div>
