<div class="ngtt__match-wrapper">
  <ng-container *ngFor="let joueur of match.joueurs; let index = index">
    <button
      mat-icon-button
      color="warn"
      class="cancel-btn"
      [disabled]="disabledCancelButton"
      *ngIf="
        isCancelable() &&
        tableau.is_launched === appService.getTableauState().BracketState
      "
      (click)="cancelMatchResult()"
    >
      <mat-icon>backspace</mat-icon>
    </button>
    <div fxLayout="row">
      <div id="finale" *ngIf="displayFinalIcons()">
        <mat-icon id="yellow" *ngIf="match.id === 1 && joueur.winner" matSuffix
          >emoji_events</mat-icon
        >
        <mat-icon id="white" *ngIf="match.id === 1 && !joueur.winner" matSuffix
          >looks_two</mat-icon
        >
        <mat-icon id="bronze" *ngIf="match.id === 2 && joueur.winner" matSuffix
          >looks_3</mat-icon
        >
        <mat-icon id="silver" *ngIf="match.id === 2 && !joueur.winner" matSuffix
          >looks_4</mat-icon
        >
      </div>

      <div class="ngtt__team-wrapper">
        <mat-chip-list *ngIf="joueur._id">
          <mat-chip
            [disabled]="
              match.joueurs.length <= 1 ||
              tableau.is_launched > appService.getTableauState().TermineState ||
              disabledMatChip
            "
            (click)="setWinner(joueur._id._id)"
            [color]="getColor(joueur)"
            [class]="'ngtt__team-title ' + isClickable()"
          >
            {{ getName(joueur._id) }}
          </mat-chip>
          <span
            class="handicap"
            *ngIf="tableau.handicap && matchHasTwoPlayers()"
          >
            <b>{{ getHandicap()[index] }}</b>
          </span>
        </mat-chip-list>
      </div>
    </div>
  </ng-container>
</div>
