<div class="container">

  <button (click)="generatePoules()" mat-raised-button class="center btnGenerateBracket" color="primary">Générer les poules</button>

  <mat-grid-list cols="3" rowHeight="500px">
    <mat-grid-tile *ngFor="let poule of poules; let indexList = index">
      <mat-card [class]="poule.locked ? 'locked' : ''">
        <h2 class="lobster center">Poule n°{{indexList+1}}</h2>

        <div
          cdkDropList
          [cdkDropListData]="poules[indexList].joueurs"
          class="example-list"
          (cdkDropListDropped)="drop($event, poule._id)">
          <div [cdkDragDisabled]="poule.locked" class="example-box" *ngFor="let joueur of poules[indexList].joueurs" cdkDrag>{{joueur.id.nom}} - {{joueur.id.classement}} points</div>
        </div>

        <button (click)="setStatus(poule)" mat-raised-button class="center btnSetLockedPoule" [color]="(poule.locked ? 'locked' : 'unlocked')">{{(poule.locked ? 'Modifier' : 'Terminer')}}</button>

      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
