button {
  margin-right: 10px;
}

mat-toolbar {
  background: #012242;
}

.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0;
  z-index: 2;
}

.active {
  background-color: #3f51b5;
  color: white;
}

.summary {
  white-space: pre-line;
}

::ng-deep .mat-tab-label,
.mat-tab-link {
  color: white !important;
}

button {
  &.mat-icon-button {
    color: white;
  }

  &.active:hover {
    color: black;
  }
}

@media screen and (min-width: 1400px) {
  button.mat-icon-button,
  mat-menu {
    display: none;
  }
}

@media screen and (max-width: 1400px) {
  .menu_toolbar {
    display: none;
  }
}
