<mat-toolbar>
  <div *ngIf="accountService.isLoggedIn()">
    <button
      *ngFor="let tableau of tableaux"
      mat-raised-button
      routerLinkActive="active"
      [routerLink]="'/tableau/' + tableau._id"
    >
      <span
        >{{ tableau.nom | titlecase }}
        <span *ngIf="tableau.age_minimum !== null">
          - {{ tableau.age_minimum }} ans</span
        >
        <span
          *ngIf="tableau.type_licence !== null && tableau.type_licence !== 1"
        >
          - {{ showTypeLicence(tableau.type_licence) }}</span
        >
      </span>
      <mat-icon
        class="state"
        [class]="appService.getTableauStateColor(tableau.is_launched)"
        >circle</mat-icon
      >
    </button>
  </div>

  <span class="spacer"></span>
  <button mat-raised-button routerLink="/formulaire" routerLinkActive="active">
    Formulaire
  </button>
  <button mat-raised-button routerLink="/parier" routerLinkActive="active">
    Parier
  </button>
  <button
    mat-raised-button
    *ngIf="accountService.isLoggedIn()"
    routerLinkActive="active"
    routerLink="/gestion"
  >
    <mat-icon>settings</mat-icon>
  </button>
  <button
    mat-raised-button
    *ngIf="!accountService.isLoggedIn()"
    routerLinkActive="active"
    routerLink="/login"
  >
    <mat-icon><span class="material-icons">manage_accounts</span></mat-icon>
  </button>
  <button
    mat-raised-button
    *ngIf="accountService.isLoggedIn()"
    (click)="accountService.logout()"
    color="warn"
  >
    <mat-icon>power_settings_new</mat-icon>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
