<h2 class="center lobster"><b>Modifier le tableau</b></h2>

<form [formGroup]="reactiveForm" (ngSubmit)="editTableau()">
  <div fxLayout="row">
    <div fxFlex="27%">
      <mat-form-field appearance="outline" class="center">
        <mat-label>Nom du tableau</mat-label>
        <input formControlName="nom" matInput required />
      </mat-form-field>
    </div>

    <div fxFlex="19%">
      <mat-slide-toggle
        color="primary"
        class="center"
        formControlName="consolante"
        >Consolante</mat-slide-toggle
      >
    </div>

    <div fxFlex="19%">
      <mat-slide-toggle
        color="primary"
        class="center"
        formControlName="handicap"
        >Handicap</mat-slide-toggle
      >
    </div>

    <div fxFlex="18%">
      <mat-form-field appearance="outline">
        <mat-label>Restriction licence</mat-label>
        <mat-select formControlName="type_licence">
          <mat-option
            *ngFor="let typeLicence of typesLicenceTableau"
            [value]="typeLicence.id"
          >
            {{ typeLicence.typeLicence }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div fxFlex="17%">
      <mat-form-field appearance="outline">
        <mat-label>Catégorie d'âge</mat-label>
        <mat-select formControlName="age_minimum">
          <mat-option
            *ngFor="let category of categoriesAge"
            [value]="category.age"
          >
            <span [class]="!category.age ? 'fontItalic' : ''">
              {{ category.category | titlecase
              }}<span *ngIf="category.age"> (- de {{ category.age }} ans)</span>
            </span>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div fxLayout="row">
    <div fxFlex="13%">
      <mat-form-field appearance="outline" class="center">
        <mat-label>Format</mat-label>
        <mat-select
          formControlName="format"
          required
          (selectionChange)="simpleFormatPouleOnChange()"
        >
          <mat-option *ngFor="let format of formats" [value]="format">{{
            format | titlecase
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div fxFlex="13%" *ngIf="fieldValue('format') === 'double'">
      <mat-form-field appearance="outline" class="center">
        <mat-label>Nb max joueurs/binôme</mat-label>
        <input
          type="number"
          formControlName="maxNumberPlayers"
          min="2"
          max="4"
          matInput
        />
      </mat-form-field>
    </div>

    <div fxFlex="13%" *ngIf="fieldValue('format') === 'double'">
      <mat-slide-toggle
        color="primary"
        class="center"
        formControlName="hasChapeau"
        >Chapeau</mat-slide-toggle
      >
    </div>

    <div fxFlex="11%">
      <mat-slide-toggle
        color="primary"
        class="center"
        formControlName="poules"
        (change)="filterStatus()"
        [disabled]="fieldValue('format') === 'simple'"
        >Poules</mat-slide-toggle
      >
    </div>

    <div fxFlex="12%" *ngIf="fieldValue('poules')">
      <mat-form-field appearance="outline" class="center">
        <mat-label>Nombre de poules</mat-label>
        <input
          formControlName="nbPoules"
          type="number"
          min="1"
          max="20"
          matInput
        />
      </mat-form-field>
    </div>

    <div fxFlex="12%" *ngIf="fieldValue('poules')">
      <mat-form-field appearance="outline" class="center">
        <mat-label>Palier qualifiés</mat-label>
        <input
          formControlName="palierQualifies"
          type="number"
          max="20"
          matInput
        />
      </mat-form-field>
    </div>

    <div fxFlex="12%" *ngIf="fieldValue('poules') && fieldValue('consolante')">
      <mat-form-field appearance="outline" class="center">
        <mat-label>Palier consolantes</mat-label>
        <input
          formControlName="palierConsolantes"
          type="number"
          max="20"
          matInput
        />
      </mat-form-field>
    </div>

    <div fxFlex="14%">
      <mat-form-field appearance="outline">
        <mat-label>Etat</mat-label>
        <mat-select formControlName="is_launched" required>
          <mat-option *ngFor="let statut of statuts" [value]="statut.value">
            {{ statut.libelle }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <button
    type="submit"
    mat-raised-button
    [disabled]="!isValid()"
    [mat-dialog-close]="tableau._id"
    class="center"
    color="primary"
  >
    Modifier
  </button>
</form>
