mat-card {
  margin: 40px !important;
}

mat-divider {
  margin-left: 10px !important;
  margin-right: 10px !important;
  margin-bottom: 10px !important;
}

mat-form-field {
  width: 95%;
}

.chip-list {
  width: 100%;
}

.i {
  margin-bottom: 10px;
}
