<h2 *ngIf="tableau._id" class="lobster center">Modifier le tableau '{{tableau.nom | titlecase}}'</h2>

<div fxLayout="row">
  <div fxFlex="15%">
    <mat-form-field appearance="outline" class="center">
      <mat-label>Nom du tableau</mat-label>
      <input [(ngModel)]="tableau.nom" matInput required>
    </mat-form-field>
  </div>

  <div fxFlex="13%">
    <mat-slide-toggle color="primary" class="center" [(ngModel)]="tableau.consolante">Consolante</mat-slide-toggle>
  </div>

  <div fxFlex="18%">
    <mat-form-field appearance="outline">
      <mat-label>Catégorie d'âge</mat-label>
      <mat-select [(ngModel)]="tableau.age_minimum">
        <mat-option *ngFor="let category of categoriesAge" [value]="category.age">
          <span [class]="!category.age ? 'fontItalic' : ''">
            {{ category.category | titlecase }}<span *ngIf="category.age"> (- de {{category.age}} ans)</span>
          </span>
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<div fxLayout="row">
  <div fxFlex="12%">
    <mat-form-field appearance="outline" class="center">
      <mat-label>Format</mat-label>
      <mat-select [(ngModel)]="tableau.format" required (selectionChange)="simpleFormatPouleOnChange()">
        <mat-option *ngFor="let format of formats" [value]="format">{{ format | titlecase }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div fxFlex="20%" *ngIf="tableau.format === 'double'">
    <mat-form-field appearance="outline" class="center">
      <mat-label>Nombre maximal joueurs/binôme</mat-label>
      <input [(ngModel)]="tableau.maxNumberPlayers" type="number" min="2" max="4" matInput>
    </mat-form-field>
  </div>

  <div fxFlex="10%">
    <mat-slide-toggle color="primary" class="center" [(ngModel)]="tableau.poules" [disabled]="tableau.format === 'simple'">Poules</mat-slide-toggle>
  </div>

  <div fxFlex="10%" *ngIf="tableau.poules">
    <mat-form-field appearance="outline" class="center">
      <mat-label>Nombre de poules</mat-label>
      <input [(ngModel)]="tableau.nbPoules" type="number" min="2" max="20" matInput>
    </mat-form-field>
  </div>
</div>
