<div fxLayout="row" fxLayout.lt-md="column">
  <div fxFlex="50%" fxFlex.lt-md="100%">
    <mat-form-field appearance="outline" class="center">
      <mat-icon matSuffix>account_circle</mat-icon>
      <mat-label>Pseudo</mat-label>
      <input [(ngModel)]="credentials.username" name="login_user" matInput [formControl]="loginControl" required>
      <mat-error *ngIf="loginControl.invalid">{{getErrorMessageLogin()}}</mat-error>
    </mat-form-field>
  </div>

  <div fxFlex="50%" fxFlex.lt-md="100%">
    <mat-form-field appearance="outline" class="center">
      <mat-icon matSuffix>vpn_key</mat-icon>
      <mat-label>Mot de passe</mat-label>
      <input [(ngModel)]="credentials.password" name="password_user" type="password" matInput [formControl]="passwordControl" required>
      <mat-error *ngIf="passwordControl.invalid">{{getErrorMessagePassword()}}</mat-error>
    </mat-form-field>
  </div>
</div>
