<div fxLayout="row">
  <div fxFlex="25%">
    <mat-form-field appearance="outline" class="center">
      <mat-icon matSuffix>title</mat-icon>
      <mat-label
        [ngStyle]="{
          color: isAlreadySubscribed() ? 'red' : 'black'
        }"
        >Nom du joueur</mat-label
      >
      <input
        (input)="alertAlreadySubscribed()"
        name="nom"
        type="text"
        [(ngModel)]="joueur.nom"
        matInput
      />
    </mat-form-field>
    <p class="clear" *ngIf="isAlreadySubscribed()">
      <b>{{ joueur.nom | uppercase }}</b> est déjà inscrit
    </p>
  </div>

  <div fxFlex="25%">
    <mat-form-field appearance="outline" class="center">
      <mat-icon matSuffix>bar_chart</mat-icon>
      <mat-label>Points mensuels (si compétiteur)</mat-label>
      <input
        (blur)="setAuthorizedTableaux(joueur)"
        name="classement"
        type="number"
        [(ngModel)]="joueur.classement"
        min="0"
        max="2000"
        matInput
      />
    </mat-form-field>
  </div>

  <div fxFlex="20%">
    <mat-form-field appearance="outline" class="center">
      <mat-icon matSuffix>today</mat-icon>
      <mat-label>Âge (si mineur)</mat-label>
      <input
        (blur)="checkAge(); setAuthorizedTableaux(joueur)"
        name="age"
        [(ngModel)]="joueur.age"
        type="number"
        min="5"
        max="17"
        matInput
      />
    </mat-form-field>
  </div>

  <div fxFlex="20%">
    <mat-form-field appearance="outline" class="center">
      <mat-icon matSuffix>dns</mat-icon>
      <mat-label>Tableaux</mat-label>
      <mat-select
        [compareWith]="compareTableauWithOther"
        [(ngModel)]="joueur.tableaux"
        multiple
      >
        <mat-option
          [disabled]="
            isTableauNotClickable(tableau, joueur.age, joueur.classement)
          "
          *ngFor="let tableau of tableaux"
          [value]="tableau"
          ><span
            >{{ tableau.nom | titlecase }}
            <span *ngIf="tableau.age_minimum !== null">
              - {{ tableau.age_minimum }} ans</span
            >
            <span
              *ngIf="
                tableau.type_licence !== null && tableau.type_licence !== 1
              "
            >
              - {{ showTypeLicence(tableau.type_licence) }}</span
            ></span
          ></mat-option
        >
      </mat-select>
    </mat-form-field>
  </div>

  <div fxFlex="10%">
    <mat-slide-toggle color="primary" [(ngModel)]="joueur.buffet"
      >Buffet</mat-slide-toggle
    >
  </div>
</div>
