<div fxLayout="row">
  <div fxFlex="25%" class="center">
    <mat-form-field appearance="outline" class="center">
      <mat-icon matSuffix>title</mat-icon>
      <mat-label>Nom du joueur</mat-label>
      <input name="nom" type="text" [(ngModel)]="joueur.nom" matInput />
    </mat-form-field>
  </div>

  <div fxFlex="20%">
    <mat-form-field appearance="outline" class="center">
      <mat-icon matSuffix>bar_chart</mat-icon>
      <mat-label>Points mensuels</mat-label>
      <input
        name="classement"
        type="number"
        [(ngModel)]="joueur.classement"
        min="0"
        max="2000"
        matInput
      />
    </mat-form-field>
  </div>

  <div fxFlex="20%">
    <mat-form-field appearance="outline" class="center">
      <mat-icon matSuffix>today</mat-icon>
      <mat-label>Âge</mat-label>
      <input
        (input)="typingAge()"
        name="age"
        [(ngModel)]="joueur.age"
        type="number"
        min="0"
        max="99"
        matInput
      />
    </mat-form-field>
  </div>

  <div fxFlex="20%">
    <mat-form-field appearance="outline" class="center">
      <mat-icon matSuffix>dns</mat-icon>
      <mat-label>Tableaux</mat-label>
      <mat-select
        [compareWith]="compareTableauWithOther"
        [(ngModel)]="joueur.tableaux"
        multiple
      >
        <mat-option
          [disabled]="clickable(tableau)"
          *ngFor="let tableau of tableaux"
          [value]="tableau"
          ><span
            >{{ tableau.nom | titlecase }}
            <span *ngIf="tableau.age_minimum !== null"
              >-{{ tableau.age_minimum }} ans</span
            ></span
          ></mat-option
        >
      </mat-select>
    </mat-form-field>
  </div>

  <div fxFlex="15%">
    <mat-slide-toggle color="primary" [(ngModel)]="joueur.buffet"
      >Buffet</mat-slide-toggle
    >
  </div>
</div>
