<form *ngIf="stock._id" [formGroup]="reactiveForm" (ngSubmit)="editStock()">
  <h2 class="center lobster"><b>Modifier le stock</b></h2>

  <div fxLayout="row">
    <div fxFlex="80%">
      <mat-form-field appearance="outline" class="center">
        <mat-icon matSuffix>inventory_2</mat-icon>
        <mat-label>Nom du stock</mat-label>
        <input formControlName="label" name="label" matInput required />
      </mat-form-field>
    </div>

    <div fxFlex="20%">
      <mat-form-field appearance="outline" class="center">
        <mat-icon matSuffix>bar_chart</mat-icon>
        <mat-label>Stock</mat-label>
        <input
          formControlName="stock"
          name="stock"
          type="number"
          min="0"
          max="2000"
          matInput
        />
      </mat-form-field>
    </div>
  </div>
</form>

<button
  type="submit"
  (click)="editStock()"
  mat-dialog-close
  mat-raised-button
  [disabled]="!isInvalid()"
  class="center"
  color="primary"
>
  Editer
</button>
