<div class="container">
  <div *ngIf="!isLoggedIn">
    <app-connexion-parieur
      (setParieurLoggedIn)="getAllParisJoueur()"
    ></app-connexion-parieur>
  </div>

  <div *ngIf="isLoggedIn">
    <button
      class="center"
      type="button"
      mat-raised-button
      color="warn"
      (click)="logout()"
    >
      <mat-icon>logout</mat-icon>
      Parier avec un autre profil
    </button>

    <mat-card *ngIf="tableauxPariables.length === 0">
      <h3 class="lobster center">
        Il n'y a pas de tournois ouverts aux paris pour le moment
      </h3>
    </mat-card>
    <mat-tab-group
      *ngIf="tableauxPariables.length > 0"
      mat-align-tabs="center"
      color="accent"
      [dynamicHeight]="true"
      selectedIndex="0"
    >
      <mat-tab *ngFor="let tableau of tableauxPariables">
        <ng-template mat-tab-label class="mat-tab-label">{{
          tableau.nom | titlecase
        }}</ng-template>

        <app-bracket
          [pariJoueur]="pariJoueur"
          [isPari]="true"
          [phase]="'finale'"
          [tableau]="tableau"
        ></app-bracket>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
