<div class="container">
  <!-- <mat-card *ngIf="parametres.open !== null && !parametres.open">
    <h1 class="lobster center">Les inscriptions au tournoi sont fermées ...</h1>
  </mat-card>

  <mat-card *ngIf="parametres.open !== null && parametres.open">
  </mat-card> -->

  <mat-tab-group
    mat-align-tabs="center"
    color="accent"
    [dynamicHeight]="true"
    selectedIndex="0"
  >
    <mat-tab *ngFor="let tableau of tableauxPariables">
      <ng-template mat-tab-label class="mat-tab-label">{{
        tableau.nom | titlecase
      }}</ng-template>

      <app-bracket [phase]="'finale'" [tableau]="tableau"></app-bracket>
    </mat-tab>
  </mat-tab-group>

  <mat-card>
    <button
      (click)="parier()"
      mat-dialog-close
      mat-raised-button
      class="center"
      color="primary"
    >
      Parier
    </button>

    <br />

    <button
      (click)="annulerPari()"
      mat-dialog-close
      mat-raised-button
      class="center"
      color="primary"
    >
      Annuler
    </button>
    <br />

    <button
      (click)="toutSupprimer()"
      mat-dialog-close
      mat-raised-button
      class="center"
      color="primary"
    >
      Tout supprimer
    </button>
  </mat-card>
</div>
