table {
  width: 100%;
}

mat-card {
  margin: 20px !important;
}

td {
  padding: 5px !important;
}

tr {
  height: auto;
}

mat-icon {
  vertical-align: middle;
}

.unsubscribeBtn {
  color: white;
  background-color: #f57646;
}
