mat-icon.timer {
  vertical-align: middle;
  cursor: pointer;

  &.pointage_KO {
    color: grey;
  }

  &.pointage_OK {
    color: green;
  }
}

h3 {
  &:first-of-type {
    margin-bottom: 0px;
  }

  &:nth-of-type(2) {
    margin-bottom: 20px;
  }
}

h2 {
  margin-bottom: 0px;
}
