<mat-card *ngIf="parametres.open !== null && !parametres.open">
  <h1 class="lobster center">Les inscriptions ne sont pas encore disponibles. Patience patience 😊🏓 ...</h1>
</mat-card >

<mat-card *ngIf="parametres.open !== null && parametres.open">
  <p [innerHTML]="parametres.titre" class="center"></p>
  <h2 class="center lobster">{{parametres.date | date:"dd/MM/yyyy"}}</h2>

  <p [innerHTML]="parametres.texte_debut | noSanitize"></p>

  <h2 class="lobster">1. Remplissez les champs du formulaire pour chaque participant</h2>

  <p><i>Renseigner le classement du joueur seulement s'il possède une license compétiteur. Laissez le champ vide sinon.</i></p>
  <p><i>Renseigner l'âge du joueur seulement s'il est mineur. Laissez le champ vide sinon.</i></p>

  <div *ngFor="let joueurItem of listeJoueurs">
    <form>
      <div fxLayout="row" fxLayout.lt-md="column" class="form_inputs_player">
        <div fxFlex="25%" fxFlex.lt-md="100%">
          <mat-form-field appearance="outline" class="center">
            <mat-icon matSuffix>title</mat-icon>
            <mat-label>Prénom NOM *</mat-label>
            <input name="nom" [(ngModel)]="joueurItem.nom" matInput>
          </mat-form-field>
        </div>

        <div fxFlex="15%" fxFlex.lt-md="100%">
          <mat-form-field appearance="outline" class="center">
            <mat-icon matSuffix>bar_chart</mat-icon>
            <mat-label>Classement</mat-label>
            <input name="classement" [(ngModel)]="joueurItem.classement" type="number" min="0" max="2000" matInput>
          </mat-form-field>
        </div>

        <div fxFlex="15%" fxFlex.lt-md="100%">
          <mat-form-field appearance="outline" class="center">
            <mat-icon matSuffix>today</mat-icon>
            <mat-label>Âge</mat-label>
            <input (input)="typing(joueurItem)" name="age" [(ngModel)]="joueurItem.age" type="number" min="5" max="99" matInput>
          </mat-form-field>
        </div>

        <div fxFlex="30%" fxFlex.lt-md="100%">
          <mat-form-field appearance="outline" class="center">
            <mat-icon matSuffix>dns</mat-icon>
            <mat-label>Tableaux *</mat-label>
            <mat-select name="tableaux" [(ngModel)]="joueurItem.tableaux" multiple>
              <mat-option [disabled]="clickable(tableau, joueurItem.age)" *ngFor="let tableau of tableaux" [value]="tableau"><span>{{tableau.nom | titlecase}} <span *ngIf="tableau.age_minimum !== null">-{{ tableau.age_minimum}} ans</span></span></mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxFlex="15%" fxFlex.lt-md="100%">
          <button mat-raised-button (click)="removeItem(joueurItem)" class="center btn_action" color="warn">Supprimer</button>
        </div>
      </div>
    </form>
  </div>

  <form>
    <div fxLayout="row" fxLayout.lt-md="column" class="form_inputs_player">
      <div fxFlex="25%" fxFlex.lt-md="100%">
        <mat-form-field appearance="outline" class="center">
          <mat-icon matSuffix>title</mat-icon>
          <mat-label>Prénom NOM *</mat-label>
          <input name="nom" [(ngModel)]="joueurData.nom" matInput>
        </mat-form-field>
      </div>

      <div fxFlex="15%" fxFlex.lt-md="100%">
        <mat-form-field appearance="outline" class="center">
          <mat-icon matSuffix>bar_chart</mat-icon>
          <mat-label>Classement</mat-label>
          <input name="classement" [(ngModel)]="joueurData.classement" type="number" min="0" max="2000" matInput>
        </mat-form-field>
      </div>

      <div fxFlex="15%" fxFlex.lt-md="100%">
        <mat-form-field appearance="outline" class="center">
          <mat-icon matSuffix>today</mat-icon>
          <mat-label>Âge</mat-label>
          <input (input)="typing(joueurData)" name="age" [(ngModel)]="joueurData.age" type="number" min="0" max="99" matInput>
        </mat-form-field>
      </div>

      <div fxFlex="30%" fxFlex.lt-md="100%">
        <mat-form-field appearance="outline" class="center">
          <mat-icon matSuffix>dns</mat-icon>
          <mat-label>Tableaux *</mat-label>
          <mat-select name="tableaux" [(ngModel)]="joueurData.tableaux" multiple>
            <mat-option [disabled]="clickable(tableau, joueurData.age)" *ngFor="let tableau of tableaux" [value]="tableau"><span>{{tableau.nom | titlecase}} <span *ngIf="tableau.age_minimum !== null">-{{ tableau.age_minimum}} ans</span></span></mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div fxFlex="15%" fxFlex.lt-md="100%">
        <button class="center btn_action" [disabled]="disabledAddPlayer(joueurData)" (click)="addJoueur(joueurData)" mat-raised-button color="primary">Ajouter</button>
      </div>
    </div>

  </form><br>

  <h2 class="lobster">2. Participation au buffet du soir (facultatif)</h2>
  <p [innerHTML]="parametres.texte_buffet | noSanitize"></p>

  <div>
    <h3 style="display: inline-block" class="lobster">Nombre de participants <u>au buffet</u> de moins de 13 ans</h3>
    <mat-form-field style="display: inline-block; margin-left: 10px;" class="shorten" appearance="outline">
      <input matInput type="number" min="0" max="20" [(ngModel)]="buffet.nb_moins_13_ans" name="nb_moins_13_ans">
    </mat-form-field>
  </div>

  <div>
    <h3 style="display: inline-block" class="lobster">Nombre de participants <u>au buffet</u> de plus de 13 ans</h3>
    <mat-form-field style="display: inline-block; margin-left: 10px;" class="shorten" appearance="outline">
      <input matInput type="number" min="0" max="20" [(ngModel)]="buffet.nb_plus_13_ans" name="nb_plus_13_ans">
    </mat-form-field>
  </div>

  <h3 class="lobster">Plat(s) confectionné(s)</h3>

  <p><i>Cliquez sur la touche 'Entrée' de votre clavier pour ajouter le plat dans votre liste.</i></p>

  <mat-form-field class="chip-list" appearance="outline">
    <mat-chip-list #chipList aria-label="Fruit selection">
      <mat-chip *ngFor="let plat of buffet.plats" [selectable]="selectable" [removable]="removable" (removed)="remove(plat)" color="primary" selected>
        {{plat}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input [matChipInputFor]="chipList"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matChipInputAddOnBlur]="addOnBlur"
             type="text"
             placeholder="Facultatif"
             (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
  </mat-form-field>

  <p>Plats déjà préparés :</p>
  <mat-chip-list *ngIf="!platsAlreadyCookedEmpty(); else noPlatsAlreadyCooked">
    <mat-chip *ngFor="let plat of platsAlreadyCooked" color="primary" selected>{{ plat }}</mat-chip>
  </mat-chip-list>
  <ng-template #noPlatsAlreadyCooked><p>(Aucun)</p></ng-template><br>

  <div [innerHTML]="parametres.texte_fin | noSanitize"></div><br>

  <button [disabled]="disabledSubmit()" class="center" mat-raised-button color="primary" (click)="submit()">Envoyer !</button>

</mat-card>
