table {
  width: 50%;
  margin-left: 10px;
}

mat-form-field {
  width: 95%;
}

.chip-list {
  width: 100%;
  height: auto !important;
}

i {
  margin-bottom: 10px;
}

p.error {
  color: red;
  font-weight: 600;
  font-size: 12px;
  margin: 0 0 10px 8px;
}

.nbParticipants {
  p,
  mat-form-field {
    display: inline-block;
  }

  mat-form-field {
    margin-left: 10px;
  }
}

h3.title_plat {
  font-size: 17px;
}

.mat-form-field {
  height: 60px;
}

.form_inputs_player {
  margin-top: 10px;
}

.btn_action {
  width: 100%;
  margin-top: 10px;
}

p.alerte_info {
  color: #2f386b;

  & i {
    vertical-align: middle;
  }

  & mat-icon {
    vertical-align: middle;
  }
}

p.alerte_pill {
  border-radius: 8px;
  background-color: #ff6565;
  color: white;
  width: fit-content;
  padding: 7px;
}

.shorten {
  width: 57px;
}

:host ::ng-deep img {
  width: 100%;
}

::ng-deep .mat-select-panel {
  max-height: 300px !important;
}

@media screen and (max-width: 959px) {
  .btn_action {
    margin-top: 0;

    &.delete {
      margin-bottom: 20px;
    }
  }

  table {
    width: 100%;
    margin-left: 0;
  }
}

@media screen and (min-width: 960px) {
  :host ::ng-deep img {
    width: 45%;
  }
}
