<h1 class="lobster center">Gestion générale</h1>

<button mat-raised-button class="center" color="warn" (click)="remiseAZero()">Remettre à zéro</button>

<mat-tab-group mat-align-tabs="center" color="accent" [dynamicHeight]="true" selectedIndex="0">

  <mat-tab>
    <ng-template mat-tab-label class="mat-tab-label">Participants</ng-template>
    <app-gestion-joueurs [allJoueurs]="allJoueurs" (getAllJoueurs)="getAllJoueurs()"></app-gestion-joueurs>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label class="mat-tab-label">Tableaux</ng-template>
    <app-gestion-tableaux (getAllJoueurs)="getAllJoueurs()"></app-gestion-tableaux>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label class="mat-tab-label">Formulaire</ng-template>
    <app-gestion-formulaire></app-gestion-formulaire>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label class="mat-tab-label">Stock</ng-template>
    <app-gestion-stock></app-gestion-stock>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label class="mat-tab-label">Compte</ng-template>
    <app-gestion-account></app-gestion-account>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label class="mat-tab-label">Logs inscriptions</ng-template>
    <app-logs-tableau></app-logs-tableau>
  </mat-tab>
</mat-tab-group>
